<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.testdemo.mapper.UserMapper">
    <select id="getAllUsers" resultType="org.example.testdemo.entity.User">
        select * from user
    </select>
    <select id="getUserById" resultType="org.example.testdemo.entity.User">
        select * from user where id = #{id}
    </select>
    <insert id="insertUser" parameterType="org.example.testdemo.entity.User">
        insert into user(name,avatar,account,password,email,profile,create_time)
        values(#{name},#{avatar},#{account},#{password},#{email},#{profile},now())
    </insert>
    <update id="updateUser" parameterType="org.example.testdemo.entity.User">
        update user
        <set>
            <if test="name!=null">name=#{name},</if>
            <if test="avatar!=null">avatar=#{avatar},</if>
            <if test="account!=null">account=#{account},</if>
            <if test="password!=null">password=#{password},</if>
            <if test="email!=null">email=#{email},</if>
            <if test="profile!=null">profile=#{profile},</if>
        </set>
        where id=#{id}
    </update>
    <delete id="deleteUser" parameterType="int">
        delete from user where id = #{id}
    </delete>
    <select id="login" parameterType="org.example.testdemo.entity.User" resultType="org.example.testdemo.entity.User">
        select * from user where account=#{account} and password=#{password}
    </select>
    <select id="getUserByAccount" resultType="org.example.testdemo.entity.User">
        select * from user where account=#{account}
    </select>
</mapper>